
.helloWorld {
  overflow: hidden;
  padding: 1em;
}

.welcome {
  text-align: center;
}

.welcomeImage {
  width: 100%;
  max-width: 420px;
}

.links {
  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}